<h2>Playlists</h2>

<div class="row">

    <div class="span6">

        <div ng-show="items.$resolved && items.length == 0">
            <hr/>
            <h4>There's nothing here...</h4>
        </div>

        <table class="table table-hover">
            <tr ng-repeat="item in items">
                <td width="100%"><a href="#/playlist/{{item.id}}">{{item.name}}</a></td>
                <td><a ng-click="destroy($index)" href=""><i class="fui-trash"></i></a></td>
            </tr>
        </table>

    </div>

    <div class="span3 offset1">
        <a href="#/playlist/new" class="btn btn-primary btn-block btn-large">new playlist</a>
    </div>
</div>