<div class="row">



	<div ng-controller="VideosController">

		<div class="span4">
			<h3 class="text-center">{{ playlist.name }}</h3>
						
			<form ng-submit="save()" class="text-center">
				<input type="text" ng-model="title" class="span1" placeholder="title" required>
				<input type="text" ng-model="youtubeId" class="span1" placeholder="id" required>
				<input type="text" ng-model="url" class="span1" placeholder="url" required>
				<button type="submit" class="btn btn-primary" style="margin-top: -10px;"><span class="fui-plus"></span></button>
			</form>
			<div ng-repeat="video in videos">
				<p><span ng-show="video.isPlaying" class="fui-triangle-right-large current-video"></span><a ng-click="viewVideo(video)" href="">{{ $index + 1 }}. {{ video.title }}</a></p>
			</div>
		</div>

		<div class="span8">
			<div class="row">
				<div class="span12">
					<iframe width="720" height="405" src="//www.youtube.com/embed/{{ currentVideo.youtube_id }}?autoplay=1&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<button class="btn btn-primary current-video-control-btn"><span class="fui-arrow-left"></span></button>
					<button class="btn btn-primary current-video-control-btn"><span class="fui-pause"></span></button>
					<button class="btn btn-primary current-video-control-btn"><span class="fui-arrow-right"></span></button>							
				</div>					
			</div>
		</div>

	</div>


	
</div>

