<div class="row">

	<div class="span4">
		<div ng-controller="VideosController">
				<div class="row row-add-video">
					<div class="span4">
						<form ng-submit="save()" class="text-center">
							<input type="text" ng-model="url" class="small" placeholder="http:www.youtube.com/watch?v=" required>
							<button type="submit" class="btn btn-inverse btn-mini" style="margin-top: -10px;"><span class="fui-plus"></span></button>
						</form>
					</div>			
				</div>

				<h6 class="text-center playlist-name">{{ playlist.name }}</h6>

				<ul class ="nav nav-list video-list">
					<li ng-repeat="video in videos" class="item-video item-video-{{video.isCurrentSong}}">
						<p><a ng-click="viewVideo(video)" href=""><span class="label label-small label-inverse label-index">{{ $index + 1}}</span> {{ video.title }}</a></p>
					</li>
				</ul>
		</div>		
	</div>	


	<div class="span8">
			<div ng-controller="PlayerController">
				<div class="row">
					<div id="ytplayer" youtube-player></div>
				</div>
				<div class="row">
					<button class="btn btn-primary" ng-click="playVideo();"><span class="fui-play"></span></button>
					<button class="btn btn-primary" ng-click="pauseVideo();"><span class="fui-pause"></span></button>
				</div>		
		</div>
		
	</div>

</div>