.current-video {
	color: #2c3e50;
}

.current-video-control-btn {
	margin-right: 5px;
	margin-top: 5px;
}

.yeah {
	float: left;
	margin-left: auto;
	margin-right: auto;

}

.row-add-video {
	height: 40px;
	
	.span4 {
		height: 40px;
	}
}

.playlist-name {
	padding: 0px;
	margin: 0px;
	line-height: 1;
	color: #f1c40f;
	font-weight: 600;
	
	.edit-playlist-btn {
		font-size: 12px;
		position: relative;
		color: #e74c3c;
		left: 2px;
		bottom: 8px;
		font-weight: 600;
/*		cursor: pointer;*/
	}
	
	.test-playlist-btn {
		font-size: 12px;
		position: relative;
		color: #9b59b6;
		right: 2px;
		bottom: 8px;
		font-weight: 600;
	}
	
	.save-playlist-btn {
		font-size: 12px;
		position: relative;
		color: #9b59b6;
		left: 2px;
		bottom: 8px;
		font-weight: 600;
	}
}

ul.video-list {
	
/*	margin: 40px 0 0;*/
  padding: 0;
	li.item-video {
		
		margin: 10px 20% 0px 0px;
/*		padding: 0 10% 40px;*/
		
		a {
			background: #bdc3c7;
      border-radius: 7px;
			box-shadow: 0 3px 0 #7f8c8d;
			color: #2c3e50;
      display: table;
			padding: 10px 16px;
      position: relative;
      table-layout: fixed;
      text-decoration: none;
      width: 100%;
		}

		p {
			font-size: 12px !important;
			color: red !important;	
		}
	}
	
	li.item-current-video-true {
		.label-index {
			color: #f1c40f !important;
		}
				
		a {
			background: #3498db;
			box-shadow: 0 3px #2980b9;
			color: rgba(236, 240, 241, 0.8);
/*			color: #f1c40f !important;*/
			
/*			background: #f6d35d;*/
/*	    box-shadow: 0 3px 0 #f39c12;*/
/*	    color: #f39c12;*/
	    opacity: 1.0;
	    -webkit-transition: all 0s;
	    -moz-transition: all 0s;
	    transition: all 0s;
		}
		
		.current-song-play-icon {
			font-size: 8px;
			position: relative;
			left: 1px;
			top: 1px;
		}
		
	}	
}

.list-order {
	position: absolute;
	right: 20px;
	color: #34495e;
	font-size: 16px;
	bottom: 8px;
}

.left-video-trash {
	position: relative;
	display: inline;
	left: 10px;
	top: 5px;
	color: red;
}