ul.edit-video-list {
	
/*	margin: 40px 0 0;*/
  padding: 0;
	li.item-video {
		
		margin: 10px 20% 0px 0px;
/*		padding: 0 10% 40px;*/
		
/*		a.main-video-link*/
		div.main-video-diva {
			background: #bdc3c7;
      border-radius: 7px;
			box-shadow: 0 3px 0 #7f8c8d;
			color: #2c3e50;
      display: table;
			padding: 10px 16px;
      position: relative;
      table-layout: fixed;
      text-decoration: none;
      width: 100%;
			cursor: pointer;

			.delete-video-icon {
				color: #c0392b;
			}
		}

		p {
			font-size: 12px !important;
			color: red !important;	
		}
	}
	
	li.item-current-video-true {
		.label-index {
			color: #f1c40f !important;
		}
				
		a {
			background: #3498db;
			box-shadow: 0 3px #2980b9;
			color: rgba(236, 240, 241, 0.8);
/*			color: #f1c40f !important;*/
			
/*			background: #f6d35d;*/
/*	    box-shadow: 0 3px 0 #f39c12;*/
/*	    color: #f39c12;*/
	    opacity: 1.0;
	    -webkit-transition: all 0s;
	    -moz-transition: all 0s;
	    transition: all 0s;
		}
		
		.current-song-play-icon {
			font-size: 8px;
			position: relative;
			left: 1px;
			top: 1px;
		}
		
	}	
}