<div class="bottom-menu bottom-menu-inverses">
  <div class="container">
		<ul class="bottom-icons pull-right">
		    <li><%= link_to "", '', :class => 'fui-twitter'%></li>
				<li><%= link_to "", '', :class => 'fui-facebook'%></li>
				<li><%= link_to "", '', :class => 'fui-googleplus'%></li>
				
		  </ul>
  </div>
</div>